[submodule "includes"]
	path = includes
	url = https://bitbucket.org/de7ec7ed/vertigo_includes.git
[submodule "make"]
	path = make
	url = https://bitbucket.org/de7ec7ed/vertigo_make.git
[submodule "doxygen"]
	path = doxygen
	url = https://bitbucket.org/de7ec7ed/vertigo_doxygen.git
[submodule "applications"]
	path = applications
	url = https://bitbucket.org/de7ec7ed/vertigo_applications.git
[submodule "kernel"]
	path = kernel
	url = https://bitbucket.org/de7ec7ed/vertigo_kernel.git
[submodule "modules"]
	path = modules
	url = https://bitbucket.org/de7ec7ed/vertigo_modules.git
[submodule "libraries"]
	path = libraries
	url = https://bitbucket.org/de7ec7ed/vertigo_libraries.git
[submodule "documents"]
	path = documents
	url = https://bitbucket.org/de7ec7ed/vertigo_documents.git
